@font-face {
	font-family: '';
	src: url('../fonts/.ttf');
}

@font-face {
	font-family: '';
	src: url('../fonts/.ttf');
}

@font-face {
	font-family: '';
	src: url('../fonts/.ttf');
}

@font-face {
	font-family: '';
	src: url('../fonts/.ttf');
}